<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Test mobile clipboard</title>
</head>
<body>
    <!--<img id="img0" src="../static/img0.png" data-clipboard-text="粘贴板img-id测试">
    <img class="img0" src="../static/img0.png" data-clipboard-text="粘贴板img-class测试">
    <img id="img1" src="../static/img0.png">
    <img class="img1" src="../static/img0.png">
    <div class="divbtn" id="div0" data-clipboard-text="粘贴板div-id测试">
        粘贴板div-id测试
    </div>
    <div class="divbtn div0" data-clipboard-text="粘贴板div-class测试">
        粘贴板div-class测试
    </div>
    <div class="divbtn" id="div1">
        粘贴板$attr-div-id测试
    </div>
    <div class="divbtn div1">
        粘贴板$attr-div-class测试
    </div>
    <button class="buttonbtn" id="btn0" data-clipboard-text="粘贴板button-id测试">粘贴板button-id测试</button>
    <button class="buttonbtn btn0" data-clipboard-text="粘贴板button-class测试">粘贴板button-class测试</button>
    <button class="buttonbtn" id="btn1">粘贴板$attr-button-id测试</button>
    <button class="buttonbtn btn1">粘贴板$attr-button-class测试</button>-->
    <img id="img0" src="../static/img0.png">
    <button class="buttonbtn btn1 bodytouchbtn">粘贴板$attr-button-class-bodytouch测试</button>
</body>
</html>