img {
    display: block;
    width: 100%;
}
.divbtn {
    width: 100%;
    height: 40px;
    border: 1px solid #000;
}
.buttonbtn {
    display: block;
    width: 100%;
    height: 40px;
}
.imgbtn {
    display: block;
    width: 100%;
    height: 40px;
}